.card {
  height: 30%;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0 50px 0;
}

.imageConteiner {
  border-bottom: 2px solid var(--main-color);
  padding: 10px;
}

.image {
  width: 280px;
}

.stats {
  border-top: 2px solid var(--main-color);
  padding: 10px;
}

.stat {
  margin: 5px 0;
}
