.listItem {
  display: flex;
  gap: 30px;
  height: 25px;
  padding: 5px;
  border-bottom: 2px solid var(--border-color);
  cursor: pointer;
}

.liName {
  width: 100px;
  margin: 0;
  font-size: 20px;
}

.description {
  margin: 0;
  font-size: 20px;
  padding-left: 20px;
  border-left: 2px solid var(--border-color);
}

.listItem:hover {
  background-color: var(--hover-color);
}

.content {
  display: flex;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  margin-top: 8px;
  border: none;
  background-image: url('../../../../../assets/matche.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox:hover {
  border: none;
  background-image: url('../../../../../assets/fire-matche.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox:checked {
  border: none;
  background-image: url('../../../../../assets/fire.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
