.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 930px;
}

.errorText {
  font-size: 70px;
  font-weight: bold;
}

.animation {
  border: 4px solid var(--border-color);
  border-radius: 20px;
}

.buttonRefresh {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
}
