.refetch {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
}

.refetch:hover {
  background-color: var(--hover-color);
}
