.countryYearTable table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  background: rgb(255, 255, 255);
}

.countryYearTr {
  position: sticky;
  top: 0px;
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 1;
}

.countryYearTable th,
.countryYearTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.countryYearTable th {
  background: #f8f9fa;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

.countryYearTable tr:nth-child(even) {
  background: #eefcfb;
}

.countryYearTable tr:hover {
  background: #b8deff;
}
