.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #5e69fd;
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

.modalFooter {
  display: flex;
  justify-content: right;
}

.closeButton {
  padding: 8px 13px;
  border: 2px solid #0011ff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.closeButton:hover {
  background: #75baff;
}
