.footer {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 30px;
  padding: 20px;
  border-top: 2px solid rgb(207, 207, 1);
}

.errorButton {
  width: 100px;
  height: 40px;
  border: 2px solid rgb(207, 207, 1);
  border-radius: 20px;
  background-color: yellow;
  color: rgb(151, 151, 1);
  cursor: pointer;
}
